//.color hashtag rgb(251, 194, 29).//

@use "./colors" as *;
@use "./animations" as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-padding-top: 74px;
}
body {
  position: relative;
  font-family: "Comic Neue", cursive;
  font-family: "Indie Flower", cursive;
  font-family: "Montserrat", sans-serif;
  background-color: $bg-color;
}
.blue-text {
  color: $main-color;
}

.shadow-bg {
  background-color: #333;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}
.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: $main-color;
}

nav {
  transition: background-color 0.6s;

  text-transform: uppercase;
  z-index: 1;
  .navbar-toggler {
    padding: 10px 15px;
  }
  .navbar-brand {
    font-weight: bold;
  }
  .nav-link,
  .navbar-nav .show > .nav-link,
  .navbar-brand,
  .fa-bars {
    color: $white;
  }

  .navbar-brand:hover {
    color: $main-color;
  }
}
.nav-link:focus,
.nav-link:hover,
.navbar-nav .nav-link.active {
  color: $white;
}

header.hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/startup-g01e7297d4_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $white;
  z-index: 0;
  h1 {
    text-transform: uppercase;
  }
  .hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: -5;
  }
  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .fa-chevron-down {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    font-size: 30px;
    color: $white;
  }
}

.services {
  background-color: $bg-color;
  i {
    margin-top: 20px;
    font-size: 30px;
  }
  .about-us-card-title {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
  }
  .about-us-card-text {
    font-size: 18px;
  }
  .aboutus-hover {
    transition: 0.3s;
  }
  .aboutus-hover:hover {
    color: #127681;
  }
}

.container-portfolio {
  color: $bg-color;
}
.Portfolio {
  position: relative;
  height: 50vh;
  background-image: url("../img/plotter-2138990_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.howwedoit-hero {
  position: relative;
  background-image: url("../img/plotter-2138990_640.jpg");
  background-size: cover;
  background-position: center;
  color: $white;
  z-index: 0;
  .howwedoit-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -5;
  }
  .howwedoit-hero-item {
    margin: 10px 0;

    i {
      font-size: 36px;
    }
    .howwedoit-hero-title {
      font-size: 26px;
    }
  }
}

.portfolio {
  .carousel-item {
    height: 600px;
  }

  .carousel-caption {
    background-color: rgb(0, 0, 0, 0.8);
    left: 0;
    right: 0;
    padding: 40px 0;
  }

  .carousel-indicators {
    padding-bottom: 20px;
  }
}
// TEAM

.team {
  position: relative;
  background-image: url(../img/team/art-gfcd99227a_1280.jpg);
  background-size: cover;
  transition: scale 0.5s;

  z-index: 1;
  .section-title {
    color: black;
  }
  background-attachment: fixed;

  .team-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }

  .card {
    background-color: rgb(246, 244, 235);
    margin: auto;
    width: 75%;
    transition: scale 0.3s;
    img {
      max-width: 250px;
      margin: 10px auto;
      height: 250px;
      object-fit: contain;
    }
    .marcin {
      margin: 0px auto;
    }
    .ania {
      margin: 0px auto;
    }
  }

  .card-title {
    margin-bottom: 36px;
    text-align: center;
    text-transform: uppercase;
  }
  .text {
    padding: 5px;
    font-size: 18px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
}
.card:hover {
  scale: 0.95;
}

// .saying {
//   background-color: #c4c4c4;

//   p {
//     margin: 10px;
//     font-family: "Indie Flower", cursive;
//     font-size: 20px;
//     text-align: center;
//   }


.contact {
  color: $white;
  position: relative;
  background-image: url(../img/skyline-1869214_1280.jpg);
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;

  
  // contact FORMA between contact and sodial media
  .contactForm{
    margin: 10px auto;
    max-width: 60%;

  }
  .btn-primary{
    background-color: $main-color;
    color: black;
  }
  
  
  
  
  
  z-index: 0;
  .contact-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 9, 27, 0.85);
    z-index: -5;
  }
  .underline {
    background-color: $main-color;
  }

  .contact-us {
    display: flex;

    color: $white;
    .contact-item {
      margin: 30px 0;
    }
    .social-media {
      font-size: 36px;
      a {
        padding: 10px;
        color: $white;
        transition: color 0.3s;
      }
      a:hover {
        color: $main-color;
      }
    }
  }

  h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
.map {
  iframe {
    border-radius: 25px;
  }
}

  .social-media {
   
    
    
      ul {position: fixed;
          bottom: 0;
          right: 5px;
          display: flex;
          list-style-type: none;
          flex-direction: column;
          z-index: 1000;
          
          li {margin:0 5px 10px 0;
            i{
              font-size: 50px;
            }
              img {
                  width: 80px
              }
          }
      }
  }


@media (min-width: 768px) {
  .shadow-bg {
    scroll-padding-top: 72px;
  }

  .hero-text {
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 30px;
    }
  }
}

@media (min-width: 992px) {
  html {
    scroll-padding-top: 72px;
  }
}

@media (min-width: 1200px) {
  header.hero-img {
    background-image: url("../img/startup-g84c17c5ac_1920.jpg");
  }
}
